@import 'tailwindcss';

:root {
  --background: #ff008c;
  --foreground: #ff00d9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdf2f8;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: linear-gradient(to bottom right, #fdf2f8, #faf5ff, #fdf2f8);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
